<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lspr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->

        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Welcome Activity -->

        <activity
            android:name=".activities.setup.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_welcome" >
        </activity>

        <!-- Enable Admin Activity -->

        <activity
            android:name=".activities.setup.EnableAdminActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_enable_admin" >
        </activity>
        
        <!-- Enable Location Activity -->

        <activity
            android:name=".activities.setup.EnableLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_enable_location" >
        </activity>

        <!-- Set New Password Activity -->

        <activity
            android:name=".activities.setup.SetNewPassActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_set_new_password" >
        </activity>

        <!-- Configure Activity -->

        <activity
            android:name=".activities.setup.ConfigureActivity"
            android:screenOrientation="portrait"
            android:label="@string/lspr_configure" >
        </activity>

        <!-- Service -->

        <service
            android:name=".services.CameraGPSTriggerService"
            android:enabled="true"
            android:label="@string/lspr_camera_gps_service" >
        </service>

        <!-- Device Admin and Unlock Monitor(Receiver) -->

        <receiver
            android:name=".receivers.DeviceAdminAndUnlockMonitorReceiver"
            android:enabled="true"
            android:label="@string/lspr_unlock_monitor_service"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
