<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lspr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LSPRActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings -->

        <activity
            android:name=".SettingActivity$Controller"
            android:label="@string/lspr_device_admin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SettingActivity"
            android:description="@string/app_description"
            android:label="@string/app_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Welcome Activity -->

        <activity
            android:name=".setup.WelcomeActivity"
            android:label="@string/lspr_welcome" >
        </activity>

        <!-- Enable AdminActivity -->

        <activity
            android:name=".setup.EnableAdminActivity$Controller"
            android:label="@string/lspr_enable_admin" >
        </activity>

        <receiver
            android:name=".setup.EnableAdminActivity"
            android:label="@string/lspr_enable_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Set New Password Activity -->

        <activity
            android:name=".setup.SetNewPassActivity$Controller"
            android:label="@string/lspr_set_new_password" >
        </activity>

        <receiver
            android:name=".setup.SetNewPassActivity"
            android:label="@string/lspr_set_new_password" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <!-- Configure Activity -->

        <activity
            android:name=".setup.ConfigureActivity"
            android:label="@string/lspr_configure" >
        </activity>

        <!-- Service -->

        <service
            android:name=".service.CameraGPSTriggerService"
            android:enabled="true"
            android:label="@string/lspr_service" >
        </service>
        <service
            android:name=".service.RestartsService"
            android:enabled="true"
            android:label="@string/lspr_service" >
        </service>
        
        <service android:name=".LSRPService" >
        </service>
    </application>

</manifest>